.restaurant{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('/restaurant/restaurant.jpg');
    background-repeat: no-repeat;
    height: 470px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1024px){
    .restaurant{
        height: 300px;
    }
}