#cart thead {
    /* border: 1px solid; */
}

#cart th {
    padding: 10px;
}

#cart td {
    padding: 10px;
    border-bottom: 1px solid #808080;
    
}
/* 
#cart tr:hover {
    background-color: #f1deda;
} */

#cardHead tr:first-child {
    background-color: #1A1A1A;
}