.slick-track {
    width: 50000px !important;
}

@media (min-width: 320px) {

    .slick-slide {
        padding: 10px;
        opacity: .5;
    }

    .slick-active {
        padding: 10px;
        padding-top: 0px;
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .slick-slide {
        opacity: .5;
        padding: 10px;
    }

    .slick-active {
        opacity: 1;
        padding: 10px;
        padding-top: 0px;
    }
}
