.spa{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('/spa/spa1.jpg');
    background-repeat: no-repeat;
    height: 370px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1024px){
    .spa{
        height: 300px;
    }
}
