.spa{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('/spa/spa1.jpg');
    background-repeat: no-repeat;
    height: 470px;
    width: 100%;
    background-size: cover;
}