.meeting_room{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('/meeting_room/meeting_room.jpg');
    background-repeat: no-repeat;
    height: 370px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1024px){
    .meeting_room{
        height: 300px;
    }
}